/* universal selector started */
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
/* universal selector ended */

/* body started */

body{
    background-color:#f1f3f6 ;
}

/* body ended */

/* navbar started */
.header{
    background-color: #48afff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0px 15px;
}

#search-bar{
    background-color: #ffffff;
    width: 416px;
    height: 40px;
    padding: 6px 10px;
    border: none;
    border-radius: 5px;
}

.header h1{
    color: #ffffff;
}

#LogIn-btn{
    background-color: #ffffff;
    color: #48afff;
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
    margin-right: 5px;
    /* font-size: 15px; */
}
#Register-btn{
    background-color:transparent ;
    color:#ffffff;
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px 15px;
    /* font-size: 15px; */
}
/* header portion started */
.header-img{
    background-color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 15px;
}

.child{
    padding: 8px;
}

.child p{
    text-align: center;
}
.child:hover{
    background-color: #f1f3f6;
    border-bottom:4px solid  #48afff;
    /* padding: 5px; */
    
}
/* header portion ended */



/* Earbuds portion started */

.Earbud-container{
    max-width: 1200px;
    margin: 0px auto;
    margin-top: 40px ;
    flex-wrap: wrap;
}


.Earbud-text{
display: flex;
justify-content: space-between;
}

#view-text{
    color: #48afff;
}

.Earbud-sub-img{
    background-color: #ffffff;
    flex-wrap: wrap;
    width: 220px;
    height: 280px;
    padding: 15px;
}
.price-cut{
    display: flex;
    justify-content: space-between;
}

#off-price{
    color: #48afff;
}

.Earbud-images-1st{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.Earbud-images-2nd{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Earbuds portion ended */

.seller-text{
    text-align: center;
    /* display: flex; */
    /* justify-content: center; */
    margin: 50px 0px;
}

/* mix items images portion started */
/* .mix-items-container{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content:space-evenly;
    margin-top: 50px;
} */

/* .seller-imgs{
    display: flex;
    justify-content: space-between;
} */
/* 
.mix-sub-img{
    width: 170px;
    height: 160px;
    padding: 20px; */
    /* margin: 10px; */
    /* background-color:#ffffff ;

} */

/* #mobile-img{
    width: 425.98px;
    height: 541px;
    padding: 20px;
} */

/* .mobiles-content{
    background-color:#ffffff ;
    width: 425px;
    height: 530px;
    padding: 20px;
}

#mobile-img{
    width:342px ;
    height:357px ;
}

#img-one{
    background-color: #ffffff;
    margin-top: 10px;
}
#img-two{
    background-color: #ffffff;
    margin-top: 10px;
}
#img-three{
    background-color: #ffffff; */
    /* margin-top: 10px;
}
#img-four{
    background-color: #ffffff;
    margin-top: 10px;
}

.img-one-sub{
    display: flex;
}

.img-two-sub{
    display: flex;
} */


/* .mobiles-content h4{
    font-size: 12px;
} */


/* mix items images portion ended */

@media(max-width: 769px){
    .btn button{
        display:none;
    }
   
    .header{
        justify-content: space-between;
    }

    #search-bar{
        width: 380px; 
}
}
  

@media(max-width: 650px){
    .header{
        justify-content: space-between;

    }
}