*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-color:#f1f3f6 ;
}

/* navbar started */
.header{
    background-color: #48afff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 15px;
}

#search-bar{
    background-color: #ffffff;
    width: 416px;
    height: 40px;
    padding: 6px 10px;
    border: none;
    border-radius: 5px;
}

.header h1{
    color: #ffffff;
}

#LogIn-btn{
    background-color: #ffffff;
    color: #48afff;
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
    margin-right: 5px;
    /* font-size: 15px; */
}
#Register-btn{
    background-color:transparent ;
    color:#ffffff;
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px 15px;
    /* font-size: 15px; */
}

.header-img{
    background-color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 15px;
}

.child{
    padding: 8px;
}

.child p{
    text-align: center;
}
.child:hover{
    background-color: #f1f3f6;
    border-bottom:4px solid  #48afff;
    /* padding: 5px; */

}

.Earbud-container{
    max-width: 1200px;
    margin: 0px auto;
    margin-top: 40px ;
}


.Earbud-text{
display: flex;
justify-content: space-between;
}

#view-text{
    color: #48afff;
}

.Earbud-sub-img{
    background-color: #ffffff;
    width: 220px;
    height: 280px;
    padding: 15px;
}
.price-cut{
    display: flex;
    justify-content: space-between;
}

#off-price{
    color: #48afff;
}

.Earbud-images-1st{
    display: flex;
    justify-content: space-between;
}
.Earbud-images-2nd{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}


@media(max-width: 769px){
    .btn button{
        display:none;
    }
   
    .header{
        justify-content: space-between;
    }

    #search-bar{
        width: 380px; 
}
}
  

@media(max-width: 650px){
    .header{
        justify-content: space-between;

    }
}